{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Punishment
{% endblock %}

{% block content %}

	<p>
		供給量は、<br/>
		あなた:{{player.contribution}}<br/>
		他のプレイヤーの公表された（0は10%の確率で間違いかもしれない）供給量は、<br/>
		{% for q in player.other_player %}
		{{q.role}}:{{q.record}}<br/>
		{% endfor %}
		でした。<br/>
	</p>
	player1へのパニッシュメント
	{% formfield player.punishment_p1 %}
	player2へのパニッシュメント
	{% formfield player.punishment_p2 %}
	player3へのパニッシュメント
	{% formfield player.punishment_p3 %}
    {% next_button %}
{% endblock %}


